input[type="checkbox"]
{
    position: relative;
    width:100px;
    height:40px;
    background: #ECECEC;
    -webkit-appearance: none;
    border-radius: 20px;
    outline:none;
    transition: 0.2s;
    box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
    cursor:pointer
}
input:checked[type="checkbox"]
{
    background: #3498db;
}
input[type="checkbox"]::before
{
    position:absolute;
    background: white;
    content:"";
    right:0px;
    width:40px;
    height:40px;
    border-radius: 50%;
    transform: scale(1,1);
    box-shadow: inset 0 2px 5px rgba(0,0,0,0.2);
    transition: .3s;

}
input:checked[type="checkbox"]::before
{
    right:60px;
    
}