body{
    min-width: 1250px;
    background: rgb(128, 221, 255);
    background: linear-gradient(162deg, rgba(128, 221, 255, 1) 0%,
    rgba(83, 174, 236, 1) 32%, rgba(125, 123, 236, 1) 66%,
    rgba(221, 6, 236, 1) 100%);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

a:visited {
    color: rgb(63, 63, 63);
    text-decoration: none
}

a:link {
    color: rgb(63, 63, 63);
    text-decoration: none;
}

a:hover {
    color: hotpink;
}
#error_container,
#login-form{
    font-size: large;
    width: 40%;
    background-color: #fefed4;
    margin: 100px auto;
    padding: 40px 20px;
    text-align: center;
    border: 2px solid rgba(28, 110, 164, 0.1);
    border-radius: 7px;
    -webkit-box-shadow: 9px 8px 26px -7px rgba(0, 0, 0, 0.73);
    -moz-box-shadow: 9px 8px 26px -7px rgba(0, 0, 0, 0.73);
    box-shadow: 9px 8px 26px -7px rgba(0, 0, 0, 0.73);
}

.login_input{
    border: 2px inset rgba(20, 55, 78, 0.18);
    padding: 2px;
    border-left:none;
    height: 30px;
    width: 90%;
    outline: none;
    text-align: center;
}


.login_input:focus {
    padding: 0 2px;
    border: 4px inset rgba(20, 55, 78, 0.18);
    border-left: none;

}


.submit_button,
.submit_buttonlog{
    font-weight: bolder;
    width: 50%;
    color: rgb(255, 255, 255);
    border: none;
    height: 40px;
    font-size: 20px;
    background: rgb(108, 185, 214);
    border-radius: 4px;
    -webkit-box-shadow: inset 0px -2px 14px -2px rgba(0, 0, 0, 0.58);
    -moz-box-shadow: inset 0px -2px 14px -2px rgba(0, 0, 0, 0.58);
    box-shadow: inset 0px -2px 14px -2px rgba(57, 57, 57, 0.58);
    background: linear-gradient(162deg, rgb(105, 180, 207) 0%, rgba(221, 6, 236, 1) 100%);
}
.sbtx:hover{
    cursor: pointer;
    background: rgb(105, 181, 209);
    background: linear-gradient(162deg, rgba(105, 181, 209, 1) 0%, rgba(128, 3, 136, 1) 100%);
}
.gray_color{
    background: gray;
}
.sbt:hover{
    cursor: pointer;
    background: rgb(105, 181, 209);
    background: linear-gradient(162deg, rgba(105, 181, 209, 1) 0%, rgba(128, 3, 136, 1) 100%);
}

.bgcolor
{
    background: rgb(108, 185, 214);
    background: linear-gradient(162deg, rgb(105, 180, 207) 0%, rgba(221, 6, 236, 1) 100%);
}
.fa-check-circle
{
    position: absolute;
    right: 8%;
    top:30%;
    color:#15e245;
    opacity:0;

}
.fa-times-circle
{
    position: absolute;
    right: 8%;
    top:30%;
    color:#ea240a;
    opacity:0;

}
.backgr{
    position: absolute;
    height:100%;
    width:15%;
    background-color:rgb(128, 221, 255);
    background: linear-gradient(162deg, rgba(128, 221, 255, 1) 0%, rgba(221, 6, 236, 1) 100%);
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    border-color: aqua;
}
.fa-lock
{
    color:white;

}
.fa-key,
.fa-lock,
.fa-envelope,
.fa-address-card,
.fa-user,
.fa-home
{
    color:white;
}

.passinfo{
    font-size: 12px;
    margin: 10px;
    font-weight: bold;
    text-align: left;
    text-indent: 10%;
    display:none;
}

.number_404 {
    font-weight: 900;
    font-family: 'Roboto Mono', monospace;
    font-size: 110px;
    background: #800388;
    background: linear-gradient(to bottom right, #800388 0%, #5d9fb8 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}



.settings_input{
    position: absolute;
    top:50%;
    border: 2px inset rgba(20, 55, 78, 0.18);
    padding: 2px;
    height: 30%;
    width: 100%;
    outline: none;
    text-align: left;
}
.wrap{
    position:relative;
    height:100px;
    margin: 0px;
}
.edit_name{
    position:absolute;
    height:100%;
    width:30%;
    left:10%;
    text-align: center;
}
.edit_surname{
    position:absolute;
    width:30%;
    right: 10%;
    height: 100%;
}
.imx
{

    position: absolute;
    margin:0px;
    top:20%;
    left:2px;
    font-size: 18px;
}
.snr{
    position: absolute;
    margin:0px;
    top:20%;
    left:55%;
    font-size: 18px;

}



    .E-mail
    {
        position:absolute;
        font-size: 18px;
        line-height:80%;
    }
    .edit_others{
        border:1px solid;

    }
    .namesettings{
        position: absolute;
        top:50%;
        border: 2px inset rgba(20, 55, 78, 0.18);
        background-color: #fdfff5;
        padding: 2px;
        height: 30%;
        width: 42%;
        left:0%;
        outline: none;
        text-align: left;

    }
    .surnamesettings{
        position: absolute;
        top:50%;
        border: 2px inset rgba(20, 55, 78, 0.18);
        background-color: #fdfff5;
        padding: 2px;
        height: 30%;
        width: 42%;
        left:55%;
        outline: none;
        text-align: left;
    }
.savebutton
{
    position:absolute;
    right:5%;
    height:40px;
    width:15%;
    background: rgb(128, 221, 255);
    background: linear-gradient(162deg, rgba(128, 221, 255, 1) 0%,
    rgba(83, 174, 236, 1) 32%, rgba(125, 123, 236, 1) 66%,
    rgba(221, 6, 236, 1) 100%);
    font-weight: 1000;
    font-size: 14px;
    border-radius: 8px;
    color:white;
    border: none;

    border-color: rgb(152, 6, 154);

}
.savebutton:hover
{
    background:rgb(155, 13, 231);

}

.icon_container{
    position:relative;
    height:100px;
}
#settings-icon{
    position:absolute;
    background-image: linear-gradient(162deg, rgba(128, 221, 255, 1) 0%,
    rgba(83, 174, 236, 1) 32%, rgba(125, 123, 236, 1) 66%,
    rgba(221, 6, 236, 1) 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    font-size: 100px;
    left:40%;
}

