body {
    background-color: #303030;
    color: #131212;
    font-family: 'Lato', sans-serif;
    font-size: 30px;
    margin: 0px;
}

a:visited {
    color: rgb(63, 63, 63);
    text-decoration: none
}

a:link {
    color: rgb(63, 63, 63);
    text-decoration: none;
}

a:hover {
    color: hotpink;
}

.header{
    background-color: rgb(250, 203, 235);
    width: 100%;
    padding: 5px 0;
    height: 45px;
}

.logo{
    width: 17%;
    padding: 5px 0 0 3%;
    float: left;
}

.browser{
    width: 35%;
    float: left;
}

.browser_input{
    margin: 4px 0;
    float: left;
    height: 40px;
    width: 80%;
    border: 2px inset rgba(20, 55, 78, 0.18);
    outline: none;
    font-size: 20px;
}

.search_button{
    float: left;
    margin: 9px 0 0 3px;
    padding: 0 5px 0 0 ;
    width: 35px;
    font-size: 25px;
    border: none;
    background-color: rgb(250, 203, 235);
}

.search_button:hover{
    margin: 7px 0 0 0;
    font-size: 30px;
    cursor: pointer;
}

.logging {
    font-size: 22px;
    padding: 5px 0 0 0;
    float: left;
    width: 35%;
    text-align: right;
    font-weight: bold;
}

.darktheme {
    margin-left: 40px;
    font-size: 40px;
    color: #682039;
    width: 4%;
    text-align: center;
    float: left;
}

#dark{
    background-color: rgb(255, 131, 230);
    margin-top: 4px;
    width: min-content;
    font-size: 20px;
    color: aquamarine;
    margin-left: -15px;
    display: none;

}

.darktheme:hover > #dark{
    display: block;
}

.darktheme:hover{
    color: #303030;
    cursor: pointer;
}

.sticky {
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 100;
}


footer{
    width: 100%;
    height: 70px;
    background-color: aqua;
}