body {
    background-color: #EDEEF7;
    color: #131212;
    font-family: 'Lato', sans-serif;
    font-size: 30px;
    margin: 0px;
}

a:visited {
    color: rgb(63, 63, 63);
    text-decoration: none
}

a:link {
    color: rgb(63, 63, 63);
    text-decoration: none;
}

a:hover {
    color: hotpink;
}

.header{
    background-color: #B8B5FF;
    width: 100%;
    padding: 5px 0;
    height: 45px;
}

.logo{
    width: 17%;
    padding: 5px 0 0 3%;
    float: left;
}

.browser{
    width: 35%;
    float: left;
}

.browser_input{
    margin: 4px 0;
    float: left;
    height: 40px;
    width: 80%;
    border: 2px inset rgba(20, 55, 78, 0.18);
    outline: none;
    font-size: 20px;
}

.search_button{
    float: left;
    color: #7868E6;
    margin: 9px 0 0 3px;
    padding: 0 5px 0 0 ;
    width: 35px;
    font-size: 25px;
    border: none;
    background-color: #B8B5FF;
}

.search_button:hover{
    margin: 7px 0 0 0;
    font-size: 30px;
    cursor: pointer;
    color: #41387a;
}

.logging {
    font-size: 22px;
    padding: 5px 0 0 0;
    float: left;
    width: 35%;
    text-align: right;
    font-weight: bold;
}

.settings_menu {
    display: inline-block;
    margin-left: 40px;
    font-size: 40px;
    color: #7868E6;
    width: 4%;
    text-align: center;

}

#dark_theme{
    background-color: #ff83e6;
    margin-top: 4px;
    width: 90px;
    font-size: 20px;
    color: aquamarine;
    margin-left: -15px;
    display: none;
    text-align: left;
    display: none;

}

.settings_menu:active > #dark_theme{
    display: block;
}

.settings_menu:hover{
    color: #41387a;
    cursor: pointer;
}

.sticky {
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 100;
}


footer{
    width: 100%;
    height: 70px;
    background-color: #afd2de;
    border-top: #9997d4 2px solid;
}
